body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  padding-top: 0;
  height: 100%;
  background-color: #ffffff;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}
.logo-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.contacts:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.contacts:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196f3;
}
.contacts-address {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
}
.contacts-address:hover {
  font-size: 14px;
  line-height: 24px;
  color: #2196f3;
}
.contacts-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.contacts-email:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196f3;
}
.contacts-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.contacts-phone:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196f3;
}
.contacts-phone:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196f3;
}
.solution {
  background: #2f303a;
  color: #ffffff;
}
.hero-buttom {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.hero-buttom:hover {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #2196f3;
  cursor: pointer;
}
.edge {
}
.edge-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.edge-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.work-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.work-our {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}
.team {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.team-foto {
}
.team-item {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.team-text {
  color: #757575;
  font-size: 16px;
  line-height: 19px;
}
.nav {
}
.nav-list {
}
.nav-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196f3;
}

.section {
}
.nav-button {
}
.nav-button-menu,
.nav-button-menu:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  color: #2196f3;
  cursor: pointer;
}
.project {
}
.project-item {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}
.item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
}
