body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  background-color: #ffffff;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 15px*2;
  color: #000000;
}
.logo-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
  color: #757575;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
}
.contacts:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
  color: #757575;
}
.contacts:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
  color: #2196f3;
}
.contacts-address {
  color: #757575;
  font-size: 14px;
  line-height: 12px*2;
}
.contacts-address:hover {
  font-size: 14px;
  line-height: 12px*2;
  color: #2196f3;
}
.contacts-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
  color: #757575;
}
.contacts-email:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
  color: #2196f3;
}
.contacts-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
  color: #757575;
}
.contacts-phone:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
  color: #2196f3;
}
.contacts-phone:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 8px*2;
  color: #2196f3;
}
.solution {
  background: #2f303a;
  color: #ffffff;
}
.hero-buttom {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px*2;
  color: #ffffff;
}
.hero-buttom:hover {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px*2;
  color: #2196f3;
  cursor: pointer;
}
.edge {
}
.edge-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 8px*2;
  color: #212121;
}
.edge-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 12px*2;
}
.work-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 21px*2;
  color: #212121;
}
.work-our {
  
}
.team {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 21px*2;
}
.team-foto {
}
.team-item {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px*2;
}
.team-text {
  color: #757575;
  font-size: 16px;
  line-height: 10*2px;
}
.nav {
}
.nav-list {
}
.nav-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 8*2px;
  color: #2196f3;
}

.section {
}
.nav-button {
}
.nav-button-menu{
    font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px*2;
  color: #212121
  cursor:pointer;
}
.nav-button-menu:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px*2;
  color: #2196f3;
  cursor: pointer;
}
.project {
}
.project-item {
  
}
.item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text {
  color: #757575;
  font-size: 16px;
  line-height: 15px * 2;
}
